* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
  color: #f2f2f2;
}

body {
  margin: 0;
  background: black;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url("./assets/bgposterdark.jpg");
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

ul {
  list-style: none;
}
h1 {
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: flex-end;
  .headerIcon {
    margin-right: auto;
  }
  h4 {
    padding: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;

    a {
      color: #f2f2f2;
      text-transform: uppercase;

      &:hover {
        color: rgba(255, 255, 255, 0.773);
      }
    }
  }
}

.pageTitle {
  display: flex;
  flex-direction: column;
  h1 {
    margin: auto;
    padding: 0.5rem;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.teamsPage {
  display: flex;
  color: #ffffff;
  ul {
    margin: auto;
    padding: 1rem;
    a {
      // text-decoration: none;
      color: white;
    }
  }
}

.teamList {
  display: flex;
  flex-direction: column;
  h1 {
    margin: 1rem auto;
  }
  ul {
    list-style: none;
    margin: auto;
    padding: 0;
    .playersListItem {
      // opacity: .65;
      align-items: center;
      align-content: center;
      text-align: center; // padding: 1rem;
      width: 500px; // height: 6rem;
      background: rgba(0, 0, 0, 0.65);
      flex-direction: column;
      margin: 1rem auto;
      & > * {
        padding: 0 0.3rem;
      }
      .position {
        color: grey;
        text-align: start;
        .positionText {
          font-size: 0.7rem;
          color: #828282;
          font-style: italic;
        }
      }
      .name {
        text-align: start;
        .numberHash {
          color: #828282;
        }
      }
      .icons {
        display: flex;
        justify-content: space-between;
        padding: 0.3rem 0.1rem;
        .heroes,
        .social {
          display: flex;
          ul {
            padding: 0;
            margin: 10px;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            li {
              text-align: center;
              padding: 0.1rem;
              margin: 0.1rem;
              width: 1.3rem;
              height: 1.3rem;
            }
          }
        }
        .social {
          opacity: 0.75;
        }
      }
    }
  }
}
.aboutDiv {
  padding-left: "5rem";
  padding-right: "5rem";
}

@media only screen and (max-width: 800px) {
  .aboutDiv {
    padding-left: 1.45rem;
    padding-right: 1.45rem;
  }
  .teamList {
    ul {
      .playersListItem {
        width: 320px; // height: 6rem;
      }
    }
  }
}

@media only screen and (max-width: 370px) {
  h1 {
    font-size: 1.5rem;
  }
  .teamList {
    padding: 0;
    ul {
      width: 100%;
      padding: 0;
      list-style-type: none;
      .playersListItem {
        font-size: 1rem;
        padding: 0.3rem;
        width: 200px; // height: 6rem;
        // width: 300px;
      }
    }
  }
}

/**
 * Footer Styles
 */

.footer {
  //  padding-top: 100px;
  // height: 50px;
  // margin-top: -50px;
  flex: 1 0 auto;
  font-size: 0.8rem;
  text-align: center;
}

// I still want to get this better
@each $hero in Ana,
  Bastion,
  Dva,
  Genji,
  Hanzo,
  Junkrat,
  Lucio,
  McCree,
  Mei,
  Mercy,
  Orisa,
  Pharah,
  Reaper,
  Reinhardt,
  Roadhog,
  Soldier_76,
  Sombra,
  Symmetra,
  Torbjorn,
  Tracer,
  Widowmaker,
  Winston,
  Zarya,
  Zenyatta {
  .#{$hero} {
    background: url(./assets/heroes/Spray_#{$hero}_Icon.png);
  }
}
